<h1>Bookmark Manager</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li class="bookmark" id="bookmark-<%= bookmark.id %>">
    <div style="padding-bottom: 15px">
    <a href= <%= "#{bookmark.url}" %> >
      <%=bookmark.title%>
    </a>
    </div>
    <form action="/bookmarks/<%= bookmark.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button type='submit'> Delete </button>
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/update" method="get">
      <button type='submit'> Update </button>
    </form>
  </li> 
  <% end %>
</ul>