<h3>Update bookmark</h3>

<div>
  Current Bookmark:
  <a href= <%= "#{@bookmark.url}" %> >
      <%=@bookmark.title%>
  </a>
</div>

<div style="padding-top: 20px">
  <form action="/bookmarks/<%= @bookmark_id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="url" value="<%= @bookmark.url %>">
    <input type="text" name="title" value="<%= @bookmark.title %>">
    <button type='submit'> Update </button>
  </form>
</div>